body {
  background-color: #013464;
  color: white;
}

form{
    width: 25%;
    margin: auto;
    margin-top: 100px;
    padding: 2%;
    color: gray;
    background-color: rgba(205, 243, 241, 0.19);
    border-radius: 10px;

.form-floating{
    width: 90%;
    margin: auto;
}

.form-header{
    text-align: center;
    padding: 20px;
    color: white;
}
.form-btn{
      text-align: center;
}

.form-btn button {
    border-radius: 10px;
    border: none;
    background-color: #98C1D9;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    margin-top: 50px;
}

.form-btn button:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: 1s all;
}

.form-btn a:link, a:visited, a:active {
    text-decoration:none;
     color: #293241;
}

